
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.container header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px 0; 
    justify-content: space-between;
}

.logo{
    background: #d3d0d0;
    width: 250px;
    height: 75px;
}

.menu {
    display: flex;
}

.menu a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border: 0;
    margin: 0 10px;
    padding: 0px 10px;
    align-self: flex-end;
    width: 100px;
}

.menu a:hover{
    background-color: #2b2929;
    -webkit-transition: 2s ease;
    -moz-transition: 2s ease;
    -ms-transition: 2s ease;
    -o-transition: 2s ease;
    transition: 2s ease;
}

.main{
    width: 70%;
    background-color: #ffff;
    padding-bottom: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.thumb{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.thumb img{
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}


.main h2, p{
    padding: 10px;
    margin: 10px;
}

aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    background-color: #537dc6;
    padding: 20px;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}

aside .ad{
    font-size: 30px;
    text-align: center;
    background-color: #2d4672;
    color: #ffffff;
    padding: 50px 0;
    margin-bottom: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    background: rgb(255, 255, 255, 0.2);
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

@media screen and (max-width:1200px){
    .main{
        width: 100%;
    }
    
    aside{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    
    aside .ad{
        width: 40%;
    }
}