
.header p{
    font-size: 50px;
    text-align: center;
    padding: 20px 0;
}

.container{
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    grid-template-rows: 150px 50px;
    grid-gap: 20px;
    width: 90%;
    margin: auto;
    border: solid green;
    padding: 5px;
    font-size: 25px;
}


.container > div{
    font-family: OpenSans-Regula;
    padding: 20px;
    color: rgb(243, 234, 234);
    background-color: rgb(8, 133, 133);
    border: solid red 1px;
    margin: 10px;
    box-shadow: 2px 2px 10px rgb(0, 0, 0, 0.5);
    text-align: center;
}