/*
Sizes: 
  em = relative to the size defined on the parent container
  rem = relative to the root size (html)
*/

  body{
    color: #008000;
    background-color: rgba(102, 102, 179, 0.8);
    margin: 2% 25%;
    padding: 2%;
}

